{% include 'static/modals.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login - SB Admin</title>
        <link href="{% static 'base/dist/css/styles.css' %}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 mt-4">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 card{% if messages %} border-danger{% endif %}">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    
                                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                        <div class="card-body">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputEmailAddress">Email</label>
                                                    <input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Enter email address" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputPassword">Password</label>
                                                    <input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" />
                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                                        <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                    <a class="small" href="password.html">Forgot Password?</a>
                                                    <button id="btn_login"class="btn btn-primary">Login </button>
                                                    <!-- <input class="btn btn-primary" type="submit" value="Login"> -->
                                                </div>
                                        </div>
                                    
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="{% url 'bug_app:register' %}">Need an account? Sign up!</a></div>
                                    </div>
                                </div>
                                {% if messages %}
                                  <div class="card-footer border-danger">
                                    {% for m in messages %}
                                    <p class="text-danger text-center m-0"><strong>{{m}}</strong></p>
                                    {% endfor %}
                                  </div><!-- /.card-footer -->
                                  {% endif %}
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="{% static 'base/bs4/js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'base/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'base/dist/js/scripts.js' %}"></script>
    </body>
</html>
<script type="text/javascript">
    $(document).on('click', '#btn_login', function(event){
        email=$("#inputEmailAddress").val();
        password=$("#inputPassword").val();
        if (inputEmailAddress && inputPassword !="") {
            $('.loadingGif').modal('show');
            $.post("{% url 'bug_app:login_services' %}",
            {
                csrfmiddlewaretoken: "{{csrf_token}}",
                password:password,
                email:email,
            },
            function(data, status){
                if(data.success){
                    window.location.href = "{% url 'bug_app:index' %}"
                    }else{
                        $('.headerModalWarning').html('');
                        $('.headerModalWarning').html('Advertencia!');
                        $('.headerModalWarning').css('display','block');
                        $('#textoModalWarning').empty();
                        $('#textoModalWarning').append("<b>No se encuentra el usuario, verifique su email y password</b>");
                        $('#footerModalWarning').css('display','none');
                        $('#modalWarning').modal('show');
                        setTimeout(function(){
                            $('#modalWarning').modal('hide');
                        },5000);
                    }
                    cerrarModal('.loadingGif');
                });
        }
    });

    function cerrarModal(modal_str)
{$(modal_str).modal('hide');$(modal_str).one('shown.bs.modal', function (e) {$(modal_str).modal('hide')})};
</script>
